<h1>Login Page</h1>
<form action="/" method="POST">
  <div>
    <p>Account: </p>
    <input type="text" placeholder="example@mail.com" name="accn" value="{{accn}}" required>
  </div>
  <div>
    <p>Password: </p>
    <input type="password" placeholder="Your password..." name="pw" value="{{pw}}" required>
  </div>
  {{#if emailErr}} <p>This account does not exist!</p> {{/if}}
  {{#if passwordErr}} <p>Password Error!</p> {{/if}}
  <button type="submit">Submit</button>
</form>