<h1>Login Page</h1>
<form action="/" method="POST">
  <div>
    <p>Account: </p>
    <input type="text" placeholder="example@mail.com" name="accn" value="{{accn}}">
  </div>
  <div>
    <p>Password: </p>
    <input type="text" placeholder="Your password..." name="pw" value="{{pw}}">
  </div>
  <button type="submit">Submit</button>
</form>